body {
    background-image: url("../images/tallposter.jpg");
}

#quizbox {
    background-color: rgb(9, 184, 9);
    opacity: 0.75;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    outline: 1.5px solid orangered;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 42px;
    padding-bottom: 15px;
    font-family: 'Sigmar One', cursive;
    text-align: center;
    font-size: 27px;
    
}

#startgame {
    background-color: rgb(9, 184, 9);
    opacity: 0.9;
    font-size: 90px;
    width: 100%;
    width: 400px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Sigmar One', cursive;
    text-align: center;
    outline: 1.5px solid orangered;

}

#startBtn {
    background-color: rgb(9, 184, 9);
    opacity: 0.9;
    font-size: 90px;
    width: 100%;
    width: 400px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Sigmar One', cursive;
    text-align: center;
}

#answerscorrect {
    background-color: rgb(9, 184, 9);
    opacity: 0.75;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    outline: 1.5px solid orangered;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 42px;
    padding-bottom: 15px;
    font-family: 'Sigmar One', cursive;
    text-align: center;

}

.counter {
    font-size: 40px;
    padding-bottom: 16px;
}


.header {
    margin-top: 15px;
    margin-bottom: 0px;
    
}


#quiz-header {
    font-family: 'Sigmar One', cursive;
    text-align: center;
    font-size: 60px;
    color: rgb(238, 79, 16);
}

#startBtn {
    background-color: rgb(9, 184, 9);
    font-family: 'Sigmar One', cursive;
    font-size: 90px;
    width: 300px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
    
}

#submitBtn {
    width: 150px;
    height: 80px;
    color: orangered;
    font-family: 'Sigmar One', cursive;
}

h3 {
    font-family: 'Sigmar One', cursive;
    font-size: 56px;
    text-align: center;
    padding: 10px;
}

p, #numCorrect, #numMissed {
    font-family: 'Sigmar One', cursive;
    font-size: 45px;
    padding: 10px;
}



